<h1>Редактировать {{cat.title}}</h1>

<form action="/cats/edit" method="post">
    <div class="input-field">
        <input id="title" type="text" class="validate" name="title" value="{{cat.title}}" required>
        <label for="title">Название кошки</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
        <input id="price" type="number" class="validate" required min=1 name="price" value="{{cat.price}}">
        <label for="price">Цена</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
        <input id="img" type="text" class="validate" required name="img" value="{{cat.img}}">
        <label for="img">URL Картинки</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>
    <input type="hidden" name="id" value="{{cat.id}}">
    <button type="submit" class="btn btn-primary">Редактировать кошку</button>
</form>